.BirthCertificateFormContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.BirthCertificateFormTitle {
  text-align: center;
  color: white;
  font-size: 2rem !important;
  font-weight: 500 !important;
  width: 100%;
  padding: 10px;
  background-color: #1c4d5a;
}

.BirthCertificateForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  width: 70vw;
  margin-bottom: 10vh !important;
}

.BirthCertificateFormButton {
  margin-top: 10px;
  background-color: #1c4d5a !important ;
  color: white !important;
}

.FormTitleHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c4d5a;
  padding: 15px;
  position: relative;
  width: 100%;
  color: white;
}

.back-button-home-form {
  position: absolute;
  left: 20px;
  background-color: #184a5b !important;
  color: #f5f5f5 !important;
  border: 1px solid #f5f5f5 !important;
  font-size: 0.85rem !important;
  padding: 6px 14px !important;
}

.back-button-home:hover {
  background-color: white !important;
  color: #184a5b !important;
}

.FormTitleText {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .BirthCertificateForm {
    width: 90vw;
    margin-top: 20px;
  }

  .FormTitleHeader {
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .back-button-home-form {
    position: absolute; 
    left: 10px;
    margin-bottom: 0;
    font-size: 0.75rem !important;
    padding: 4px 10px !important;
  }

  .FormTitleText {
    font-size: 1.2rem !important;
    text-align: center;
    padding: 0 40px; 
  }
}


@media screen and (max-width: 480px) {
  .FormTitleText {
    font-size: 0.9rem !important;
    padding: 0 30px;
  }
  
  .back-button-home-form {
    padding: 2px 8px !important;
    font-size: 0.7rem !important;
    left: 5px;
  }
}