.ApplicationContentContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 5vw;
}
.OnlineApplicationTitleContainer {
  display: flex;
  width: 100vw;
  background-color: #184a5b;
  height: 10vh;
}
.OnlineApplicationTitle {
  font-size: 30px !important;
  font-weight: 600 !important;
  text-align: start !important;
  margin-bottom: 10vh !important;
  color: #fff6f6 !important;
  padding: 20px;
  margin-left: 10vw !important;
}
.CertificateCard {
  background-color: #fff6f6 !important;
  border-radius: 10px;
  width: 30vw;
  height: auto;
  text-align: center;
  margin-left: 2vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: #184a5b 1px solid;
}
.CardTitle {
  display: flex;
  flex-direction: column;
  height: 4vh;
}

.Icon {
  width: 10vw;
  height: 20vh;

  align-self: center;
}

.CardTitle {
  font-size: 20px !important;
  color: #184a5b !important;
  font-weight: bold !important;
}

.Details {
  list-style: none;
  padding: 0;
  margin-top: 20vh;
  color: #6c757d;
  font-size: 14px;
}

.Actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.RequirementsBtn {
  color: #184a5b !important;
  text-transform: none;
  text-decoration: underline !important;
}

.RequestBtn {
  background-color: #184a5b !important;
  color: white;
  text-transform: none;
  width: 13vw;
  height: 5vh;
  font-size: 12px !important;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(58, 77, 139, 0.2);
}
.RequestBtn:hover {
  background-color: #066d88 !important;
}
.RequirementsBtn:hover {
  color: #066d88 !important;
}

@media (max-width: 768px) {
  .CertificateCard {
    width: 50vw;
    height: auto;
    margin-left: 20vw;
    flex-direction: column;
  }

  .CardTitle {
    font-size: 35px;
  }

  .OnlineApplicationTitle {
    font-size: 14px;
    margin-bottom: 20vh;
  }

  .Title {
    flex-direction: column;
    height: auto;
  }

  .Title img {
    width: 20vw;
    height: auto;
    margin-right: 0;
    margin-bottom: 30px;
    justify-content: center;
    align-self: center;
  }

  .Title h6 {
    font-size: 12px !important;
  }

  .ApplicationContentContainer {
    width: 100vw;
    margin-left: 0;
  }

  .Details {
    margin-left: 0;
    font-size: 12px;
  }

  .Actions {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .CertificateCard {
    width: 60vw;
    margin-left: 15vw;
  }

  .OnlineApplicationTitle {
    font-size: 14px;
  }

  .Title img {
    width: 50vw;
  }

  .Details {
    font-size: 10px;
  }
}
