.BirthFormContainerFather {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FormHeaderFather {
  background-color: #1e4e5f;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.FormContentFather {
  padding: 20px;
}

.FormSectionFather {
  margin-bottom: 20px;
}

.SectionTitleFather {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.SectionTitleHalfFather {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.FormRowFather {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 15px;
}

.FormGroupFather {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.FormLabelFather {
  color: #1e4e5f;
  margin-bottom: 5px;
}

.FormInputFather {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #1e4e5f;
  height: 40px;
  border-radius: 4px;
  width: 100%;
}

.CheckboxContainerFather {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.CheckboxInputFather {
  margin-right: 8px;
}
.CheckboxContainerFather input[type="checkbox"] {

  appearance: none;
  -webkit-appearance: none;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid #1d4e5f;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.CheckboxContainerFather input[type="checkbox"]:checked {
  background-color: #1d4e5f;
  border-color: #1d4e5f;
}

.CheckboxContainerFather input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.CheckboxLabelFather {
  font-size: 14px;
}

.ExtensionContainerFather {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.ExtensionLabelFather {
  margin-right: 10px;
  color: #1e4e5f;
}

.SelectInputFather {
  padding: 8px;
  border: 1px solid #ccc;
  color: #1d4e5f;
  border-radius: 4px;
  width: 150px;
}

.FormFullWidthGroupFather {
  width: 100%;
}

.RequiredFieldFather {
  color: red;
  margin-left: 3px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .FormRowFather {
    flex-direction: column;
    gap: 10px;
  }
  
  .FormGroupFather {
    width: 100%;
  }
  
  .ExtensionContainerFather {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .SelectInputFather {
    width: 100%;
  }
}