
.DialogTitle {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 30px !important;
  }
  
  .DialogContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    padding-left: 30px !important;
  }
  
  .DialogContentText {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
  }

  .DialogActions {
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .email-input{
    color: #184a5b !important;
    border-color: #184a5b !important;
  }
  .ContinueButton {
    border-radius: 8px;
    border-color: #184a5b;
    background-color: #184a5b !important;
    color: #ffff !important;
    text-transform: uppercase;
    padding: 12px 30px;
    font-size: 1rem;
    &:hover {
      border-color: #184a5b;
      background-color: #184a5b;
      color: #fff;
    }
  }
  .CancelButton{
  color: #184a5b !important;
  }