.ContainerMLSummary {
    padding: 20px;
    width: 100vw;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .FormDocumentMLSummary {
    background-color: #f8f8f8;
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    color: #000;
  }
  
  /* Document Header */
  .DocumentHeaderMLSummary {
    position: relative;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 15px;
    height: 70px;
  }
  
  .FormNumberMLSummary {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    text-align: left;
  }
  
  .DocumentNoticeMLSummary {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    text-align: right;
  }
  
  .HeaderCenterMLSummary {
    text-align: center;
    padding-top: 5px;
  }
  
  .RepublicTextMLSummary {
    font-size: 14px;
  }
  
  .RegistrarTextMLSummary {
    font-size: 14px;
    margin: 3px 0;
  }
  
  .LicenseTitleMLSummary {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
  }
  
  /* Top Grid Section */
  .TopGridMLSummary {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  .TopLeftMLSummary, .TopRightMLSummary {
    width: 48%;
  }
  
  .GridItemMLSummary {
    display: flex;
    margin-bottom: 8px;
  }
  
  .ItemLabelMLSummary {
    width: 130px;
    font-size: 12px;
  }
  
  .ItemValueMLSummary {
    flex: 1;
    border-bottom: 1px solid #000;
    min-height: 16px;
    font-size: 12px;
  }
  
  /* Main Table */
  .ApplicantTableMLSummary {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
  }
  
  .ColumnHeaderMLSummary {
    background-color: #f0f0f0;
    border: 1px solid #000;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    width: 50%;
  }
  
  .TableCellMLSummary {
    border: 1px solid #000;
    padding: 5px;
    vertical-align: top;
    position: relative;
  }
  
  /* Registrar Section */
  .RegistrarTitleMLSummary {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .RegistrarStatementMLSummary {
    font-size: 11px;
    text-align: justify;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  
  .RegistrarStatementMLSummary p {
    margin: 5px 0;
  }
  
  .UnderlinedTextMLSummary {
    text-decoration: underline;
    display: inline-block;
    min-width: 120px;
    text-align: center;
  }
  
  /* Field Formatting */
  .FieldNumberMLSummary {
    float: left;
    font-weight: bold;
    width: 20px;
    margin-right: 5px;
  }
  
  .FieldLabelMLSummary {
    font-weight: normal;
    margin-bottom: 5px;
    border-bottom: 1px dotted #ccc;
  }
  
  /* Name Fields */
  .NameFieldsWrapperMLSummary {
    display: flex;
    justify-content: space-between;
  }
  
  .NameFieldMLSummary {
    flex: 1;
    text-align: center;
    margin: 0 3px;
  }
  
  .NameValueMLSummary {
    border-bottom: 1px solid #000;
    min-height: 18px;
    padding: 3px 0;
  }
  
  .NameParenMLSummary {
    font-size: 10px;
    text-align: center;
  }
  
  /* Date Fields */
  .DateFieldsWrapperMLSummary {
    display: flex;
    justify-content: space-between;
  }
  
  .DateFieldMLSummary {
    width: 23%;
    text-align: center;
    margin: 0 2px;
  }
  
  .DateValueMLSummary {
    border-bottom: 1px solid #000;
    min-height: 18px;
    padding: 3px 0;
  }
  
  .DateParenMLSummary {
    font-size: 10px;
    text-align: center;
  }
  
  /* Place Fields */
  .PlaceFieldsWrapperMLSummary {
    display: flex;
    flex-direction: column;
  }
  
  .PlaceFieldMLSummary {
    display: flex;
    margin-bottom: 5px;
  }
  
  .PlaceValueMLSummary {
    flex: 1;
    border-bottom: 1px solid #000;
    min-height: 14px;
    padding: 2px 0;
  }
  
  .PlaceParenMLSummary {
    width: 120px;
    font-size: 9px;
    text-align: center;
  }
  
  /* Sex/Citizenship */
  .SexCitizenFieldsMLSummary {
    display: flex;
    justify-content: space-between;
  }
  
  .SexFieldMLSummary, .CitizenFieldMLSummary {
    flex: 1;
    border-bottom: 1px solid #000;
    min-height: 18px;
    padding: 3px 0;
    text-align: center;
    margin: 0 5px;
  }
  
  /* Other Values */
  .ResidenceValueMLSummary,
  .ReligionValueMLSummary,
  .CivilStatusValueMLSummary,
  .PreviousMarriageMLSummary,
  .RelationshipValueMLSummary,
  .FatherCitizenshipMLSummary,
  .FatherResidenceMLSummary,
  .MotherCitizenshipMLSummary,
  .MotherResidenceMLSummary,
  .ConsentPersonMLSummary,
  .ConsentCitizenshipMLSummary,
  .ConsentResidenceMLSummary {
    border-bottom: 1px solid #000;
    min-height: 18px;
    padding: 3px 0;
  }
  
  /* Dissolved Fields */
  .PlaceDissolvedFieldsMLSummary, .DissolvedDateFieldsMLSummary {
    display: flex;
    justify-content: space-between;
  }
  
  .PlaceDissolvedValueMLSummary, .DissolvedDateValueMLSummary {
    flex: 1;
    border-bottom: 1px solid #000;
    min-height: 18px;
    margin: 0 5px;
    text-align: center;
  }
  
  /* Parent Name Fields */
  .ParentNameFieldsMLSummary {
    display: flex;
  }
  
  .ParentFirstNameMLSummary, .ParentMiddleNameMLSummary, .ParentLastNameMLSummary {
    flex: 1;
    border-bottom: 1px solid #000;
    min-height: 18px;
    padding: 3px 5px;
    margin: 0 3px;
  }
  
  /* Signature Section */
  .SignatureBoxMLSummary {
    padding-top: 20px;
    min-height: 150px;
  }
  
  .SignatureLineMLSummary {
    width: 80%;
    margin: 30px auto 5px;
    border-bottom: 1px solid #000;
  }
  
  .SignatureLabelMLSummary {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .SubscribedMLSummary {
    position: relative;
    margin-top: 15px;
  }
  
  .SubscribedTextMLSummary {
    text-align: left;
    font-weight: bold;
  }
  
  .SubscribedDetailsMLSummary {
    font-size: 10px;
    margin-top: 3px;
    padding-right: 80px; /* Make room for doc stamp */
  }
  
  .DocStampMLSummary {
    position: absolute;
    top: 0;
    right: 10px;
    border: 1px solid #000;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .StampTextMLSummary {
    text-align: center;
    font-size: 9px;
  }
  
  .OfficialSignatureMLSummary {
    margin-top: 30px;
  }
  
  .OfficialLineMLSummary {
    width: 80%;
    margin: 0 auto 5px;
    border-bottom: 1px solid #000;
  }
  
  .OfficialLabelMLSummary {
    font-size: 10px;
    text-align: center;
  }
  
  /* Button Container */
  .ButtonContainerMLSummary {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .BackButtonMLSummary, .SubmitButtonMLSummary {
    min-width: 120px;
    padding: 10px !important;
  }
  
  @media print {
    .ButtonContainerMLSummary {
      display: none;
    }
    
    .FormDocumentMLSummary {
      border: none;
      padding: 0;
      margin: 0;
    }
  }