.CertificateFormTitle {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.AffidavitCertificateForm {
  width: 80vw !important;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.MarriageCertificateForm {
  margin-top: 10px;
  padding: 2.5rem;
  width: 80vw;
  margin-left: 10vw;
}

.section {
  margin-bottom: 2rem;
}
.FormProgressContainer {
  margin-top: 30px;
  text-align: center;
}

.FormProgressBar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-top: 8px;  
}

.FormProgressFill {
  height: 100%;
  background-color: #184a5b;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}

.section h3 {
  color: #fff;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1c4d5a;
  padding: 1rem;
  border-radius: 8px;
}

.section h4 {
  color: #34495e;
  margin: 1rem 0;
}


.husband-section {
  margin-bottom: 2.5rem;
  border-radius: 5px;
}


.husband-label {
  display: block;
  margin-bottom: 0.7rem;
  font-weight: 500;
  color: #333;
}

.husband-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.husband-input-container {
  flex: 1;
  min-width: 200px;
  position: relative;
}

.husband-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.husband-input:focus {
  border-color: #3498db;
  outline: none;
}

.husband-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.husband-select:focus {
  border-color: #3498db;
  outline: none;
}

.husband-radio-group {
  display: flex;
  gap: 5rem;
  align-items: left;
  margin-left: 25px;
  margin-bottom: 1rem;
}

.husband-radio {
  margin-right: 6px;
  cursor: pointer;
  accent-color: #1c4d5a;
}

.husband-error {
  color: #e74c3c;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  left: 0;
}


.wife-section {
  margin-bottom: 2.5rem;
  border-radius: 5px;
}



.wife-label {
  display: block;
  margin-bottom: 0.7rem;
  font-weight: 500;
  color: #333;
}

.wife-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.wife-input-container {
  flex: 1;
  min-width: 200px;
  position: relative;
}

.wife-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.wife-input:focus {
  border-color: #3498db;
  outline: none;
}

.wife-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.wife-select:focus {
  border-color: #3498db;
  outline: none;
}

.wife-radio-group {
  display: flex;
  gap: 5rem;
  align-items: left;
  margin-left: 25px;
  margin-bottom: 1rem;
}

.wife-radio {
  margin-right: 6px;
  cursor: pointer;
  accent-color: #1c4d5a;
}

.wife-error {
  color: #e74c3c;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  left: 0;
}


.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input-container {
  flex: 1;
  min-width: 200px;
  position: relative;
}

.input-container.full-width {
  flex-basis: 100%;
}


.input-container input[type='text'],
.input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

.input-container input[type='text']:focus,
.input-container select:focus {
  border-color: #3498db;
  outline: none;
  background-color: #fff;
}


.radio-group {
  display: flex;
  gap: 5rem;
  align-items: left;
  margin-left: 25px;
  margin-bottom: 1rem;
}

.radio-group input[type='radio'] {
  margin-right: 6px;
  cursor: pointer;
  accent-color: #1c4d5a;
}


.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.error-message {
  color: #e74c3c;
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  left: 0;
}


.info-text {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 1rem;
}

.note-text {
  font-size: 14px;
  color: #e74c3c;
  font-weight: bold;
  margin-top: 1rem;
}


.MarriageCertificateFormButton {
  margin-top: 1rem !important;
  margin-right: 1rem !important;
}


label::after {
  content: ' *';
  color: #e74c3c;
}


label:not([data-required])::after {
  content: '';
}

