.DashboardContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
    min-width: max-content;
    margin: 0%;
  }
  /* Media Query: Adjust layout for smaller screens */
@media (max-width: 768px) {
  .DashboardtContainer {
    flex-direction: column; 
  }
}