.FabButtonFab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1300;
  box-shadow: 0 6px 24px rgba(0,0,0,0.18);
  background-color: #184a5b   !important;
  color: #fff;
}

.DialogFab {
  position: fixed !important;
  right: 32px;
  bottom: 100px;
  margin: 0;
  padding: 0;
  width: 350px;
  max-height: 500px;
  border-radius: 24px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.25);
}

.DialogTitleFab {
  background: #184a5b;
  color: #fff;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600 !important;
}

.DialogContentFab {
  padding: 0;
  background: #f4f7fa;
  height: 400px;
  overflow-y: auto;
}

.AnnouncementListFab {
  padding: 16px;
}

.AnnouncementItemFab {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 12px;
  background: #d5dcdd;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.AnnouncementTitleFab {
  font-weight: bold;
  color: #184a5b;
  margin-bottom: 4px;
font-weight: 600 !important;
}

.AnnouncementDescriptionFab {
  color: #333;
  margin-bottom: 8px;
  line-height: 1.5;
}

.AnnouncementImageFab {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.AnnouncementDateFab {
  color: #666;
  font-size: 0.75rem;
  font-style: italic;
}

.CenteredFab {
  padding: 24px;
  text-align: center;
}


.BadgeFab .MuiBadge-badge {
color: #fff;
  font-size: 0.95rem;
  font-weight: bold;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: -17px;   
  right: 35px;  
  z-index: 1400;
}