.LandingContainer {
  width: 100vw;
  color: #333;
  position: relative;
  min-height: 100vh;
}

.LandingContainer::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./LandingPageAssets/HeroBg.JPEG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;
}

.LandingContainer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(208, 215, 222, 0.7);
  z-index: -1;
}
.PhTimeComponent {
  position: absolute;
 bottom: 170px;
  left: 50px;
z-index: 1100 !important;
  opacity: 0.8;
  pointer-events: none;
}
.LandingContent {
  width: 85vw;
  min-width: 80vw;
  justify-content: center;
  align-items: center;
}
.HeaderLanding {
  padding: 20px 0;
  z-index: 1000;
  position: relative;

}

.LogoLanding img {
  height: 50px;
}

.NavLanding {
  display: flex;
  gap: 20px;
  z-index: 1000;
}

.NavItemLanding {
  cursor: pointer;
  font-weight: 500;
}

.HeroLanding {
  margin-top: 10vh;
  padding: 60px 0;
  position: relative;
}

.HeroTitleLanding {
  color: #1c4d5a;
  font-weight: 700 !important;
  margin-bottom: 16px;
    margin-top: 5vw !important;
}

.HeroDescriptionLanding {
  margin-top: 25px !important;
  color: #1c4d5a;
  
  font-weight: 550 !important;
}
.LandingTitle {
  color: #1c4d5a !important;
  font-weight: 700 !important;
  text-shadow: #ffffff 0px 0px 10px;
}

.SignUpButtonLanding {
  background-color: #1c4d5a !important;
  padding: 10px 30px !important;
  font-weight: 600 !important;
  margin-top: 5vh !important;
}

.DeviceMockupsLanding {
  width: 40vw;
  max-width: 400px;
  margin-left: 150px;
}

.AboutSectionLanding {
  margin: 40px 0;
}

.AboutIconLanding img {
  max-width: 350px !important;
}

.AboutCardLanding {
  background-color: #1c4d5a !important;
  color: white !important;
  max-width: 45vw !important;
  border-radius: 16px !important;
  margin-left: 170px;
  padding: 20px;
}

.AboutTitleLanding {
  margin-bottom: 20px !important;
  font-weight: 600 !important;
  margin-left: 50px !important;
}
.AboutDescriptionLanding {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.KeyFeaturesSectionLanding {
  margin: 60px 0;
}

.KeyFeaturesTitleLanding {
  text-align: center;
  margin-bottom: 50px !important;
  color:#1c4d5a !important;
  font-size: 40px !important;
  font-weight: 600 !important;
 background-color: #d5dcdd !important;
  border-radius: 10px !important;
  padding: 10px;
}
.FeatureItemLanding {
  background-color: #1c4d5a !important;
color: white !important;
border-radius: 20px !important;
  padding: 30px;
  margin-bottom: 30px;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
  justify-content: center;
}
.FeatureItemLanding:hover,
.FeatureItemLanding:focus-within  {
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  background-color: #d5dcdd !important;
  color: #1c4d5a !important;
  transition: color 0.2s;
}
.FeatureItemLanding:hover .FeatureIconLanding,
.FeatureItemLanding:focus-within .FeatureIconLanding {
  color: #1c4d5a !important;
  transition: color 0.2s;
}

.FeatureIconLanding {
  font-size: 50px !important;
  color: #ffffff !important;
  margin-right: 16px;
}

.HeroImageLanding img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.2));
}
.AnnouncementButtonContainer {
position: fixed;
  bottom: 30px;
  right: 30px;
z-index: 1000;

}
@media (max-width: 960px) {
  .HeroLanding {
    text-align: center;
  }

  .AboutSectionLanding,
  .FeatureItemLanding {
    text-align: center;
  }

   .AboutSectionLanding, .AboutDescriptionLanding {

flex-direction: column;
  }
 

  .FeatureIconContainerLanding {
    margin-bottom: 20px;
  }
  .AnnouncementBox , .PhTimeComponent {
    display: flex;
    position: relative;
bottom: 150px;
  left: 20px;
  z-index: 999;
  opacity: 0.8;
  pointer-events: none;
  }
}