.LandingContainer {
    width: 100vw;
    color: #333;
    
  }
  .PhTimeComponent {
    align-self: flex-end;
    display: flex;
    justify-content: end;
    margin-right: 50px;
  }
  .LandingContent {
    width: 85vw;
    min-width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .HeaderLanding {
    padding: 20px 0;
    
  }
  
  .LogoLanding img {
    height: 50px;
  }
  
  .NavLanding {
    display: flex;
    gap: 20px;
  }
  
  .NavItemLanding {
    cursor: pointer;
    font-weight: 500;
  }
  
  .HeroLanding {
    margin-top: 10vh;
    padding: 60px 0;
    
  }
  
  .HeroTitleLanding {
    color: #1C4D5A;
    font-weight: 700 !important;
    margin-bottom: 16px;
;
  }
  
  .HeroDescriptionLanding {
    margin-top: 25px !important;
    color: #555;  
   
  }
  .LandingTitle {
    color: #1C4D5A !important;
    font-weight: 700;
  
  }
  
  .SignUpButtonLanding {
    background-color: #1C4D5A !important;
    padding: 10px 30px !important;
    font-weight: 600 !important;
 
    margin-top: 5vh !important;
  }
  
  .DeviceMockupsLanding {
    width: 40vw;
    max-width:400px;
    margin-left: 150px;
  }
  
  .AboutSectionLanding {
    margin: 40px 0;
  
  }
  
  .AboutIconLanding img {
    max-width: 350px !important;
  
  }
  
  .AboutCardLanding {
    background-color: #1C4D5A !important;
    color: white !important;
    max-width: 45vw !important;
    border-radius: 16px !important;
    margin-left: 170px;
    padding: 20px;
  }
  
  .AboutTitleLanding {
   
    margin-bottom: 20px !important;
    font-weight: 600 !important;
    margin-left: 50px !important;
  }
  .AboutDescriptionLanding {
    margin-left: 50px !important;
    margin-right: 50px !important;

  }
  
  .KeyFeaturesSectionLanding {
    margin: 60px 0;
  }
  
  .KeyFeaturesTitleLanding {
    text-align: center;
    margin-bottom: 50px !important;
    color: #1C4D5A;
    font-size: 40px !important;
    font-weight: 600 !important;
  }
  
  .FeatureItemLanding {
    background-color: #1C4D5A;
    color: white;
    border-radius: 16px;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .FeatureIconContainerLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .FeatureIconLanding {
    font-size: 50px !important;
    color: #1a3b5d !important;
  }
  
  .FeatureTitleLanding {
    margin-bottom: 30px !important;
    font-weight: 600 !important;
  }
  
  .FeatureDescriptionLanding {
    line-height: 1.6;
  }
  
  @media (max-width: 960px) {
    .HeroLanding {
      text-align: center;
    }
    
    .AboutSectionLanding, 
    .FeatureItemLanding {
      text-align: center;
    }
    
    .FeatureIconContainerLanding {
      margin-bottom: 20px;
    }
  }