.LandingContainer {
  width: 100vw;
  color: #333;
}
.PhTimeComponent {
  align-self: flex-end;
  display: flex;
  justify-content: end;
  margin-right: 50px;
  opacity: 0.8;
}
.LandingContent {
  width: 85vw;
  min-width: 80vw;
  justify-content: center;
  align-items: center;
}
.HeaderLanding {
  padding: 20px 0;
}

.LogoLanding img {
  height: 50px;
}

.NavLanding {
  display: flex;
  gap: 20px;
}

.NavItemLanding {
  cursor: pointer;
  font-weight: 500;
}

.HeroLanding {
  margin-top: 10vh;
  padding: 60px 0;
}

.HeroTitleLanding {
  color: #1c4d5a;
  font-weight: 700 !important;
  margin-bottom: 16px;
}

.HeroDescriptionLanding {
  margin-top: 25px !important;
  color: #ffffff;
  text-shadow: #1c4d5a 0px 0px 10px;
  font-weight: 550 !important;
}
.LandingTitle {
  color: #1c4d5a !important;
  font-weight: 700 !important;
  text-shadow: #ffffff 0px 0px 10px;
}

.SignUpButtonLanding {
  background-color: #1c4d5a !important;
  padding: 10px 30px !important;
  font-weight: 600 !important;

  margin-top: 5vh !important;
}

.DeviceMockupsLanding {
  width: 40vw;
  max-width: 400px;
  margin-left: 150px;
}

.AboutSectionLanding {
  margin: 40px 0;
}

.AboutIconLanding img {
  max-width: 350px !important;
}

.AboutCardLanding {
  background-color: #1c4d5a !important;
  color: white !important;
  max-width: 45vw !important;
  border-radius: 16px !important;
  margin-left: 170px;
  padding: 20px;
}

.AboutTitleLanding {
  margin-bottom: 20px !important;
  font-weight: 600 !important;
  margin-left: 50px !important;
}
.AboutDescriptionLanding {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.KeyFeaturesSectionLanding {
  margin: 60px 0;
}

.KeyFeaturesTitleLanding {
  text-align: center;
  margin-bottom: 50px !important;
  color: #1c4d5a;
  font-size: 40px !important;
  font-weight: 600 !important;
}

.FeatureItemLanding {
  background-color: #1c4d5a;
  color: white;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 30px;
}


.FeatureIconContainerLanding {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.FeatureIconLanding {
  font-size: 50px !important;
  color: #1a3b5d !important;
}

.FeatureTitleLanding {
  margin-bottom: 30px !important;
  font-weight: 600 !important;
}

.FeatureDescriptionLanding {
  line-height: 1.6;
}

.HeroLanding::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./LandingPageAssets/HeroBg.JPEG');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.HeroLanding::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(208, 215, 222, 0.7); /* Blue tint matching Material UI primary color */
  z-index: -1;
}

.HeroImageLanding img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.2));
}

@media (max-width: 960px) {
  .HeroLanding {
    text-align: center;
  }

  .AboutSectionLanding,
  .FeatureItemLanding {
    text-align: center;
  }

  .FeatureIconContainerLanding {
    margin-bottom: 20px;
  }
}
