.announcement-container {
  width: 100vw;
  height: 100vh;
  display: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding: 20px; */
  box-sizing: border-box;
  background-color: #f9fafb;
  overflow-y: auto;
}

.announcement-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8vh;
}

.label-announcement {
  margin-bottom: 8px;
  font-size: 28px;
  color: #ffffff;
  background-color: #0e4f57;
  text-align: center;
  padding: 15px;
  width: 100%;
  font-size: 1.9rem;
}

.announcement-h2 {
  /* background-color: #1c4d5a ;
  color: #f9fafb;
  font-size: xx-large; */
  margin-bottom: 8px;
  font-size: 28px;
  color: #ffffff;
  background-color: #0e4f57;
  text-align: center;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: clamp(20px, 5vw, 32px);
}

@media (min-width: 768px) {
  .announcement-main {
    flex-direction: row;
    align-items: flex-start;
  }

  .announcement-feed {
    flex: 2;
  }

  .announcement-form {
    flex: 1;
    position: sticky;
    top: 20px;
  }
}
