/* AnnouncementPost.css */

.announcement-post {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  width: 100%;

  /* new */
  overflow: hidden;
}

.announcement-post:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

.announcement-post h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #1f2937;

  /* new */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

}

.announcement-post p {
  color: #4b5563;
  margin-bottom: 10px;
  line-height: 1.5;

  /* new */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  line-clamp: 3; /* Standard property for future compatibility */
  -webkit-box-orient: vertical;

}

.announcement-post small {
  font-size: 0.85rem;
  color: #9ca3af;
}

.announcement-post img {
  margin-top: 12px;
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.announcement-edit-btn {
  background: none;
  border: none;
  color: #ede7e7; 
  /* text-decoration: underline; */
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 8px;
  transition: color 0.2s ease;
  margin-left: 10px;
  background-color: #1e4e59;
  border-radius: 3px;
}

.announcement-edit-btn:hover {
  color: #ede7e7; 
}
