/* Username Password Styles */

#username-container, #password-container {
    display: flex;
    flex-direction: column; 
    margin-bottom: 16px; 
    margin-left: 24px;
    margin-right: 15px;
    position: relative; 
}

#username-container .labels,
#password-container .labels {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px; 
}

#username-container input,
#password-container input {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    border: 1.5px solid #2a5764;
    background-color: #fffdfd;
    box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.1);
    width: 99%;
    height: 40px; 
    box-sizing: border-box; 
}

#username-container input:focus,
#password-container input:focus {
    outline: none;
    border: 2px solid #24677a;
}


.error-message {
    font-size: 12px;
    color: red;
    margin-top: 4px;
    position: absolute;
    bottom: -18px; 
    left: 0;
    width: 100%; 
    text-align: left;
}

.error-message-password {
    font-size: 12px;
    color:rgb(184, 5, 5);
}

.asterisk {
    color: red;
}
