.AppointmentFormsContainer {
  max-width: 80vw;
  padding: 30px;
  border-radius: 10px;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 70vw;
 height: 81vh;
}
.AppointmentFContainer {
  background-color: #fffaf9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 80vh;
  width: 70vw;
  padding: 30px;
  padding-top:30px ;
   
}
.AppointmentTitle {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10vh;
  color: #1e3a56;
  margin-top: 0cm;
}

.MiddleInitial input{
width: 5vw !important;

}
.ConfirmContainer {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: 35vh;
  margin-right: 50px;
}

.SelfAppointment,
.OtherAppointment {
  flex: 1;
  max-width: 250px;
  padding: 12px;
  font-size: 16px;
  background: #d3d3d3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  text-align: center;
}

.SelfAppointment:hover,
.OtherAppointment:hover {
  background: #bbb;
}

.FormGroup {
  display: flex;
 flex-direction: row;
  gap: 10px !important;
  margin-bottom: 30px;
}

.FormGroup label {
  flex: 1 100%;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.FormGroup select {
  display: flex;
  flex-direction: row;
  width: 21.5vw !important;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #1e3a56;

}
.SlotGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  align-self: start;
}
.AppointTime {
  height: 40px;
}

.FormGroup input::placeholder {
  color: #aaa;
  font-style: italic;
}

.ConfirmButton {
  padding: 15px;
  font-size: 15px;
  background: #1C4D5A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 350px;
  display:flex;
  justify-content: center;
}

.ConfirmButton:hover {
  background: #1C4D5A;
}
.ConfirmContainer{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.RowGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  color: #1e3a56;
}

.InputWrapper label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}

.InputWrapper input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  width: 20vw;
  background-color: hsl(0, 0%, 98%);
  color: #1e3a56;
}

.InputWrapper input::placeholder {
  font-style: italic;
  color: #1C4D5A;

}
.SmallInput input {
  width: 4vw !important;
  flex: 0 0 10vw;
  max-height: 2vh !important;
}
.LargeInput input {
  width: 41vw !important;
  max-height: 2vh !important;
}

@media screen and (max-width: 768px) {
  .AppointmentContainer {
    width: 90vw;
    margin-left: 5vw;
  }

  .InputWrapper input {
    width: 100%;
  }

  .RowGroup {
    flex-direction: column;
    gap: 10px;
  }

  .ConfirmButton {
    font-size: 16px;
  }

  .SmallInput {
    max-width: 5vw;
  }
}
