.hidden-input {
  display: none;
}

.CorrectionCB {
  color: #1C4D5Ad2 !important;
}

.CorrectionContainer {
  max-width: 100vw;
  width: 100vw;
  height: auto;
  min-width: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}

* {
  margin: 0;
  padding: 0;
}

.TitleCorrection {
  font-weight: 600 !important;
  background-color: #184a5b;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  padding: 20px !important;
  width: 120vw;
  margin-top: 0 !important;
}

.SubTitleCorrection {
  text-align: center !important;
  margin-bottom: 20px;
  color: #184a5b;
  font-size: 1.5vw !important;
  font-weight: bolder !important;
  margin-top: 2vh !important;
}

.SectionTitleDOBCorrection {
  font-weight: 550 !important;
  margin-bottom: 10px;
  color: #184a5b;
  margin-top: 5vh !important;
  font-size: 1.2vw;

}

.ImportantNotes h6, .SectionTitleDOBCorrection  {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  background-color: #184a5b;
  padding: 5px;
  padding-left: 15px;
}

.ImportantNotesCorection {
  margin-top: 20px;
  padding: 15px;
  width: 45vw;
  background-color: #f9f9f9;
  border-left: 5px solid #184a5b;
  color: #184a5b !important;
}

.MarriedCheckbox{
  margin-top: 10px;
  color: #184a5b !important;
}
.CorrectionContainer{
    transition: margin-left ease;
    margin-left: 0;
}

.CorrectionContainer.sidebar-open{
    margin-left: 250px;
    width: 100vw;
}
