
* {
    margin: 0;
    padding: 0;
  }
  

  .DelayedAbove18Container {
    max-width: 100vw;
    width: 100vw;
    height: auto;
    min-width: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    transition: margin-left ease;
    margin-left: 0;
  }
  

  .TitleDelayedAbove18 {
    font-weight: 600 !important;
    background-color: #184a5b;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    padding: 20px !important;
    width: 120vw;
    margin-top: 0 !important;
  }
  

  .SubtitleDelayedAbove18 {
    text-align: left !important;
    margin-bottom: 20px;
    color: #184a5b;
    font-size: 1.2vw !important;
    font-weight: bolder !important;
    margin-top: 5vh !important;
  }

  .Subtitle{
    text-align: left !important;
    margin-bottom: 20px;
    color: #184a5b;
    font-size: 1.0vw !important;
    font-weight: bolder !important;
    margin-top: 5vh !important;
  }
  

  .SectionTitleDelayedAbove18 {
    font-weight: 550 !important;
    margin-bottom: 10px;
    color: #184a5b;
    margin-top: 5vh !important;
    font-size: 1.2vw;
  }
  
  
  .MarriedCheckboxDelayedAbove18 {
    margin-top: 10px;
    color: #184a5b !important;
  }
  

  .ImportantNotes {
    margin-top: 20px;
    padding: 15px;
    width: 45vw;
    background-color: #f9f9f9;
    border-left: 5px solid #184a5b;
    color: #184a5b;
  }
  
  .ImportantNotes h6, .SectionTitleDelayedAbove18 {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    background-color: #184a5b;
    padding: 5px;
    padding-left: 15px;
  }
  

  .DelayedAbove18Container.sidebar-open {
    margin-left: 250px;
    width: 100vw;
  }
  