/* Full Name Section */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.signup-container {
  width: 100%;
  height: 100%;
  padding: 32px;
  color: #1c4d5a;
  background: radial-gradient(ellipse at center, hsl(210, 100%, 97%), hsl(0, 0%, 100%));
  justify-content: center;
  align-items: center;
}

.CategoryDivider {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 2px solid #fff;
}

.CategoryDivider h2 {
  font-size: 18px;
  color: #f3f0f0;
}

.form-group {
  margin-bottom: 15px;
}

.label-category {
  font-weight: bold;
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
  display: block;
}

 .form-group.fullname {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto;
  grid-column-gap: 60px;
  grid-row-gap: 10px;
}

.form-group.fullname .textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

.form-group.fullname input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
} 


input[name='lastname'],
input[name='firstname'],
input[name='middlename'] {
  width: 100%;
}

.asterisk {
  color: rgb(194, 45, 45);
}

.optional {
  color: rgb(168, 47, 47);
  font-size: smaller;
}
/* Ensure label styles are consistent */
.label-in {
  font-size: 14px;
  color: #ffffff;
}

/* checkbox */
.checkbox-extension {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.checkbox-extension label {
  font-size: 12px;
  color: #1c4d5a !important;
  margin-left: 5px;
}
.checkbox-extension .extension-text {
  font-size: 5px;
}

#HasExtension {
  background-color: #ffffff;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#Extension {
  width: 50%;
  background-color: #fff;
  border: 2px solid #1c4d5a;
  display: flex;
  font-size: 15px;
  color: #1c4d5a;
  margin-right: 21px;
  margin-left: 0px;
  margin-left: 170px;
}
