.IconsSection {
    display: flex;
    flex-direction: row;
    
  }

  .IconSectionContainer {
    display: flex;
    flex-direction: column;
    z-index: 100;
    color: #184a5b;
    font-weight: 600;
    background-color: white !important;
    border-radius: 20px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .IconSectionContainer h5 {
    color: #184a5b;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
   
  }
  
  .IconButton {
    color: #184a5b !important; 
    padding: 3vw !important;
    cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 10px !important;

  
  }
  .IconButton img {
    width: 3.5vw;
   height: 3.5vw;
   border-radius: 20px !important;
   margin-bottom: 1vw;
  }