.UserDashboardContainer {
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    
    
 
}
.UserDashboardContainer{
    transition: margin-left  ease;
    margin-left: 0;
}


.UserDashboardContainer.sidebar-open {
    margin-left: 240px; 
}