.QrCodeContainerAppointment {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 20px;
    transition: margin-left 0.3s ease;
}



.QrCodeCardAppointment {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.QueueInfoAppointment {
    max-width: 65vw;
}
.LabelAppointmentID {
    color: #184a5b;
}
.QueueNumberAppointment {
    font-size: 2.5rem;
    font-weight: bold;
    color: #184a5b;
    margin: 10px 0;
}

.QrSectionAppointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.QrCodeAppointment {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.QrSectionAppointment p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.RequirementsLinkAppointment {
    color: #184a5b;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.RequirementsLinkAppointment:hover {
    text-decoration: underline;
}

.AppointmentDetailsSectionAppointment {
    display: flex;
    justify-content: center;
    width: 100%;
}

.AppointmentDetailsAppointment {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
    color: #333;
}

.AppointmentDetailsAppointment p {
    margin: 5px 0;
    font-size: 1rem;
}

.NoteAppointment {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-top: 20px;
    max-width: 500vw;
}
/* for Nav side bar */

  .QrCodeContainerAppointment .sidebar-open {
    margin-left: 500px !important;
  }
    