/* NavBar.css */

.sidebar {
  height: 100%;
  width: 20vw;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #8aacb5;
  overflow-x: hidden;
  padding-top: 20px;
  transition: transform ease-in-out;
  z-index: 100;
}

.Profile {
  display: flex;
  flex-direction: column;
  width: 20vw;
 
  margin-top: 5vh;
  padding: 20px;
  margin-bottom: 5vh;
}
.NavUserName {
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  width: 20vw;
}
.NavUserEmail {
  color: white;
  font-weight: 400;
}
.NavUserRole {
  color: #184a5b;
  font-weight: 400;
  font-size: smaller;

}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.2vw;
  color: #1c4d5a;
  display: block;
  font-weight: 500;
  margin-left: 10px;
}

.sidebar a:hover {
  background-color: #6797a5;
  color: #1c4d5a;
  font-weight: 500;
}

.main-content {
  margin-left: 260px;
  padding: 20px;
}
.Logout {
  margin-top: 15vh;
  height: 10px;
}
.Logout:hover {
  background-color: #6797a5;
  color: white;
}
@media (max-width: 768px) {
  .sidebar a {
    font-size: 1.5vw;
  }
  .sidebar {
    width: 30vw;
  }
  .Profile {
    height: 10vh;
    padding: 20px;
    margin-bottom: 5vh;
  }
  .Username {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .main-content {
    margin-left: 260px;
    padding: 20px;
  }
  .Logout {
    margin-top: 15vh;
    height: 10px;
  }
  .Logout:hover {
    background-color: #6797a5;
    color: white;
  }
}

@media (max-width: 568px) {
  .sidebar a {
    font-size: 15px;
  }
  .sidebar {
    visibility: hidden;
  }
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

/* Toggle Button */
.SidebarToggleBtn {
  width: 50px;
  position: fixed;
  top: 15px;
  left: 15px;
  background: #184a5b;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
}

.SidebarToggleBtn.open {
  width: 50px;
  background: #8aacb5 !important;
}
/* Adjust sidebar width for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 50vw;
  }
}

/* Ensure sidebar is hidden by default on smaller screens */
@media (max-width: 568px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
