.admin-add-user {
    padding: 20px 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    width: 100vw;
    
    
  }
  
  .user-form {
    background-color: #c3d6db;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    max-width: 800px;
    width: 100%;
  }
  
h1 {
    margin-bottom: 8px;
    font-size: 28px;
    color: #ffffff;
    background-color: #0e4f57;
    text-align: center;          
    padding: 10px 15px;      
    width: 100%;                
    box-sizing: border-box;     
    word-wrap: break-word;     
    font-size: clamp(20px, 5vw, 32px); 
  }
  

  .photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .upload-box {
    background-color: #f7fafa;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    transition: all 0.3s ease;
  }
  
  .upload-box:hover {
    border-color: #0e4f57;
  }
  
  .upload-box i {
    font-size: 24px;
    color: #0e4f57;
  }
  
  .upload-box p {
    margin-top: 10px;
    font-weight: 500;
    color: #0e4f57;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #0e4f57;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .form-group label span {
    color: red;
  }
  
  .form-group input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
  }

  .form-group select {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 6px; 
    font-size: 14px;
    width: 100%; 
    background-color: #fff; 
    color: #0e4f57; 
    box-sizing: border-box; 
  }
  
  .form-group select:focus {
    border-color: #0e4f57; 
    outline: none; 
  }
  .contact-input-wrapper {
    display: flex;
    gap: 3px;
    width: 100%;
  }
  
  
.country-code {
    flex: 0 0 50px; 
    padding: 5px;
    background-color: #f0f0f0;
    font-weight: bold;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
  }
  

  .phone-number {
    flex: 1; 
    padding: 4px 4px; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .submit-btn {
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #0e4f57;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin-left: 280px;
    margin-right: 250px;
  }
  
  .submit-btn:disabled {
    background-color: #8fa5a9;
    cursor: not-allowed;
  }
  
  .submit-btn:hover:not(:disabled) {
    background-color: #0b3e44;
  }
  
